:root{
    --black-1: #292929;
    --black-2: #3d3d3d;
    --black-3: #464646;
    --black-4: #525252;

    --white-1: #f8f8f8;
    --white-2: #eeeeee;
    --white-3: #dcdcdc;
    --white-4: #bdbdbd; 

    --blue-1: #1cd2f4;
    --blue-2: #00b4d8;
    --blue-3: #0a7394;
    --blue-4: #144d65; 
}