* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body{
    min-height: 100vh;
    min-width: 100vw;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-family: "Montserrat", sans-serif;
}

#formulario{
    max-width: 30em;
    max-height: 12em;
    width: 90vw;
    height: 100dvh;
    
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 4em;
    color: #eee;
}

#formulario label{
    width: 100%;
}

#formulario button{
    width: 100%;
    height: 2.5em;
    background-color: #ddd;
    border: none;
    border-radius: 1em;
    padding: .5em;
    font-family: inherit;
    transition: background-color .2s ease-in-out, filter .2s ease-in-out;
    font-size: .9rem;
} 

#formulario input{
    border-radius: 0;
    outline: none;
    margin: .4em 0;
    font-family: inherit;
    
}

#formulario input::placeholder{
    font-size: inherit;
}

#formulario button:enabled:hover {
    background-color: #eee;
    filter: drop-shadow(0 0 .3em #fff);
}

.contenedor-lista{
    background-color: #444;
    max-width: 35em;
    width: 90vw;
    color: #eee;
    padding: .7em;
}

.contenedor-lista p{
    text-align: center;
    border-bottom: .1em solid #eee ;
    padding-bottom:.5em;
}

.contenedor-lista ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    color: #eee;
    list-style: none;
    gap: 1em;
    padding: .5em 1em;
}